{% extends "base.html" %}

{% block title %}Quem Somos{% endblock %}

{% block content %}
<h2>Quem Somos</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus totam, fuga magnam enim ad excepturi cum fugit. Facilis sapiente doloribus velit dolore consectetur. Dolor labore iusto numquam sint, omnis tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolores rerum similique, asperiores maxime, laborum nulla molestias cumque officia error aliquid expedita dolore omnis nihil necessitatibus cupiditate, doloremque eum totam!</p>
<h2>5 motivos para estudar</h2>
<ol>
    <li>Material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>Professores renomados</li>
    <li>Universidades bem avaliada</li>
    <li>Otima localização</li>
</ol>
<hr>
<h2>Objetivos</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas eligendi dolore, fugit sint odit iure reiciendis inventore deserunt sequi nam rerum quae commodi illo mollitia dignissimos molestiae earum hic ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque perspiciatis distinctio tenetur laboriosam assumenda, sint repudiandae commodi delectus voluptatibus repellendus iure maiores soluta aliquid error dignissimos esse mollitia aut necessitatibus.</p>
{% endblock %}